body
{
  color: white;
  background: rgb(163, 3, 115);
}

span
{
  font-size: 30px;
  background: yellow;
}

.heading{
    font-size: 18px;
    border-radius: 10px;
    letter-spacing: 5px;
  }

  label{
    font-size: 14px;
    color: rgb(40, 241, 0);
    padding: 6px;
    border-radius: 10px;
    background-color: white;
  }

  #camera , #result
{
  border: 2px dashed white;
  width: 350px;
  height: 300px; 
}

#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}

.emotion_name
{
  font-size: 40px;
}

.emoji
{
  font-size:48px;
}

